<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{firstname}} {{lastname}} Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="stacked">First Name</ion-label>
    <ion-input>{{firstname}}</ion-input>
  </ion-item>

  <ion-item> 
    <ion-label position="stacked">Last Name</ion-label>   
    <ion-input>{{lastname}}</ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">ID Number</ion-label>
    <ion-input>{{number}}</ion-input>
  </ion-item>

</ion-content>
