<ion-header [translucent]="true">
  <ion-toolbar>    
    <ion-title class="ion-text-center">
      News Today    
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-img height="300" width="300" src="assets\images\newsOne.jpg"></ion-img>
    <ion-header>      
    </ion-header>
  </ion-card>

  <ion-button
   class="btnHeight"
   expand="block"
   shape="round"
   color="tertiary"
   [routerLink]="['/news-page']">
    News Page
  </ion-button>
  
  <ion-button
   class="btnHeight"
   expand="block"
   shape="round"
   color="tertiary"
   [routerLink]="['/photo-service']">
    Photo Service Page
  </ion-button>
  
  <ion-button
   class="btnHeight"
   expand="block"
   shape="round"
   color="tertiary"
   [routerLink]="['/forms']">
    Create Forms Page
  </ion-button>

  <ion-button
   class="btnHeight"
   expand="block"
   shape="round"
   color="tertiary"
   [routerLink]="['/display-form']">
    Access Forms Page
  </ion-button>

</ion-content>
